<!--<configuration />-->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="io.openapiprocessor.mapping" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="io.openapiprocessor.core.parser.OpenApiParser" level="WARN" />
  <logger name="io.openapiprocessor.core.processor.MappingReader" level="ERROR" />

  <logger name="io.openapiprocessor.core.converter.mapping" level="TRACE" additivity="false">
    <appender-ref ref="io.openapiprocessor.mapping" />
  </logger>

</configuration>
